* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif !important;
}
body {
  direction: rtl !important;
  min-height: 100vh !important ;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  background: #faf8f2 !important;
  /* background: transparent !important; */
}

nav button {
  background-color: aliceblue !important;
}

#navigationsmm a {
  color: #0d0b0b !important;
  font-size: 20px;
  margin: 20px;
}

/* body content style */

.whole {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
}
header {
  display: flex;
  width: 100%;
  min-height: 100px;
  color: #000;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background: #c1ab72;
  color: #fff;
}
h3 {
  width: calc(100% / 4);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
#user {
  display: flex;
  width: 90%;
  min-height: 100px;
  color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
p {
  /* width: calc(100% / 5); */
  width: 250px;
  height: 80px;
  text-align: center;
  min-height: 70px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  border-bottom: 4px solid #c1ab72;
  font-size: 14px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: all 0.5s ease;
}
p:hover {
  background: #c1ab72;
  color: #fff;
  font-weight: bold;
  border-bottom: 4px solid #303954;
}
.action {
  background: #303954;
  display: flex;
  justify-content: space-evenly;
}
.action img {
  width: 20px;
}
.admin-name {
  display: flex;
  width: 80%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background: #ebe8e8;
  font-size: 20px;
  border-radius: 10px;
  border-bottom: 4px solid #c1ab72;
  overflow: hidden;
}

.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303954;
  width: 30%;
  height: 100%;
  color: #fff;
}
.name {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100%;
}

.page-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.pagination_link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
  background: #303954;
}
#user-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-data {
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.user-box {
  width: 100%;
}
