* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Almarai", sans-serif !important;
  }
  
 

  
:root {
  --sectionBackground: #faf8f2;
  --sectionTitle: 3.5rem;
  --sectionTitleMobile: 1.4rem;
  --sectionSubTitleMobile: 1.2rem;
  --textColor: #523623;
  --paraColor: #816c4a;
}



/* header */
header {
    width: 100%;
    height: 18vh;

    /* margin-bottom: 80px; */
  }
  .login {
    background: #303954 !important;
    padding: 10px;
    transition: all 0.5s ease;
    font-size: 10px;
  }
  
  .login:hover {
    background: #526089 !important;
    padding: 10px;
  }

.imageSection , .infoSection{
  background-color: var(--sectionBackground);
}

.imageSection{
    height: 10rem;

 
}


.imageSectionTitle {
          margin-left: 60rem;
          text-align: left;
          /* color: var(--textColor); */
          font-weight: 500;
          color: #0d0b0b !important;
         font-size: 20px;

}
.backgroundDiv{
    background-color: var(--paraColor);
}


/* nav */

nav {
    background: #faf8f2 !important;
    /* background: transparent !important; */
  }
  
  nav button {
    background-color: aliceblue !important;
  }
  
  #navigationsmm a {
    color: #0d0b0b !important;
    font-size: 20px;
    margin: 20px;
  }


 
  /* form fields */
 .name {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }
 .name1,
 .name2 {
   width: 25%;
   margin-bottom: 10px;
 }
 .name input {
   margin-bottom: 5px;
 }
 
 .email-phone {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content:  space-evenly;
 }
 .email,
 .phone {
   width: 25%;
   margin-bottom: 10px;
 }
 .email-phone input {
   margin-bottom: 5px;
 }
 
 .password {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content:  space-evenly;
 }
 .password input {
   margin: 5px 0;
 }
 .pass1,
 .pass2 {
   width: 25%;
   margin-bottom: 5px;
 }
 input {
   height: 2rem;
   width: 10rem;
 }
 


/* submit style */

.submit
{
    width: 40%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* background-color: brown; */
    align-items: center;
    display: inline-flex;
    margin-right: 20rem;
}

button {
    background: #816c4a !important;
    color: #fff !important;
    font-weight: bold;
    transition: all 0.5s ease;
    width: 30%;
    height: 30%;
    align-items: center;
    border-radius: 5%;
  }

  .editProfileButton:hover , #updateAcountButton:hover{
    background: #523623 !important;
  }
   
  #deleteAcountButton:hover {
    background: rgb(207, 12, 12) !important;

  }

  #deleteAcountButton ,#updateAcountButton {
    align-items: center;
    width: 50% ;
    height:auto;
  }

  #updateAcountButton {
    /* margin-bottom: 3rem; */

  }

  .headbuttons{

           width: 20%;
           display: block;
           margin-left: 60rem;

  }


.infoSection{
    direction: rtl;
}

form{
    width: 95%;
    align-items: center;
    justify-content: space-evenly;
}
