* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif !important;
}

:root {
  --sectionBackground: #faf8f2;
  --sectionTitle: 3.5rem;
  --sectionTitleMobile: 1.4rem;
  --sectionSubTitleMobile: 1.2rem;
  --textColor: #523623;
  --paraColor: #816c4a;
}

.rakayaVideo{
   
  border-radius: 20px;
     border-style:outset;
     width: 80%;
     height: auto;

}

body {
  direction: rtl !important;
  min-height: 100vh !important ;
  overflow-x: hidden;
}



/* -----intro style with animation----- */
.intro_loaded {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(
    to left bottom,
    #f2c658,
    #caa343,
    #a38130,
    #7e611d,
    #5a430a
  ); */
  background-image: linear-gradient(
    to left bottom,
    #41310a,
    #513f1a,
    #604d2a,
    #715d3a,
    #816c4a
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: 1s;
}
.intro_loaded img {
  width: 250px;
}

/* here animation moving and class */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* end animation moving and class */

/* -----end intro style with animation----- */



/* header style */
header {
  width: 100%;
  height: 100vh;
  /* margin-bottom: 80px; */
}
.login {
  background: #303954 !important;
  padding: 10px;
  transition: all 0.5s ease;
  font-size: 10px;
}

.login:hover {
  background: #526089 !important;
  padding: 10px;
}
.headerin {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 3rem;
}
.headerin::before {
  content: "";
  background-image: url("./assets/pexels-ingo-joseph-188035.jpg");
  filter: brightness(50%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.header-title {
  position: relative;
  width: 90%;
  height: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-title h1 {
  color: #ffffff !important;
  font-weight: bold;
  font-size: var(--sectionTitleMobile);
  position: relative;
  border-bottom: 1px solid;
  padding: 5px;
  margin-bottom: 10px;
}
.header-title p {
  color: #ffffff !important;
  text-align: center;
  font-size: var(--sectionSubTitleMobile);
  position: relative;
}
.numbersSection {
  margin-top: 30px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.col {
  color: #ffffff;
  width: max-content;
  /* background-color: #96ae63; */
}
.counter-box {
  width: 100%;
  height: 100%;
  /* background-color: #816c4a9a; */
  background-color: none;
  padding: 20px;
  font-size: 1.3rem;
}

.counter-box h2 {
  font-weight: bolder;
  font-size: 1.6rem !important;
}

.counter-box span {
  font-weight: bolder;
  color: #dfb347 !important;
  font-size: 1.6rem;
}
h2,
span {
  display: inline;
  margin-bottom: 50px;
  margin-right: 5px;

  color: #ffffff;
}

nav {
  background: #faf8f2 !important;
  /* background: transparent !important; */
}

nav button {
  background-color: aliceblue !important;
}

#navigationsmm a {
  color: #0d0b0b !important;
  font-size: 20px;
  margin: 20px;
}

/* end header style */

section {
  background: var(--sectionBackground) !important;
  margin-bottom: 80px;
  width: 100%;

}

/* about us style */

.aboutSec {
  width: 100%;
  min-height: auto;
  margin-top: 80px !important;
  display: flex;
  align-items: center;
  padding: 20px 0;
}
#aboutbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
#aboutVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 30px;
}

#aboutContent {
  width: 90%;
  margin:5rem 0;
}

#aboutbox #aboutContent h3 {
  margin-bottom: 10px;
  color: var(--textColor);
  font-weight: bolder;
}

#aboutbox #aboutContent p {
  text-align: justify;
  color: var(--paraColor);
  font-size: var(--sectionSubTitleMobile);
  padding-top: 0.5rem;
  width: 90% !important;
  text-align-last: center;

}
/*  end about us style */



/*  value style */

#values h2 {
  color: var(--textColor);
}


#values #valuescontainer {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 60px;
  margin-top: 80px;

  color: var(--textColor);
}
.value {
  padding: 10px;
  transition: all 0.5s ease;
  background: #fff;
  border-radius: 5px;
  border-bottom: 2px solid var(--textColor);
}
.value:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* end value style */




/*  partners style */
#partners {
  width: 100% !important;
}
#partners .partners-box {
  display: flex;
  flex-direction: column;
}

#partners img {
  object-fit: cover;
  filter: grayscale(1);
  transition: all 0.7s ease;
}

#partners img:hover {
  filter: grayscale(0);
}

#partners h2 {
  color: var(--textColor);
  text-align: center;
}
#partners p {
  color: var(--paraColor);
  text-align: center;
  margin-bottom: 30px;
}

/*  end partners style */




/*  service style */

.service-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}
.service {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}
.service h3 {
  font-weight: bold !important;
  margin: 70px 0;
  color: var(--textColor);
}
.service-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.service-box .item {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  min-height: 150px;
  width: 80%;
  background: #faf8f2;
  transition: all 0.5s ease;
  border: 1px solid #f6f2e4;
}
.item:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.item .item-icon img {
  width: 50px;
}
.item-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 90%;
  color: var(--textColor);
}
.item-name ul li {
  list-style: disc !important;
  color: rgb(69, 68, 68);
  margin-right: 20px;
  font-size: 16px;
  margin-top: 5px;
}
.item-name h4 {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.item-icon {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: #12025aac; */
  background: #f4f3f3;
  top: -30px;
  left: -30px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: all 0.5s ease;
}
.item:hover .item-icon {
  background: var(--textColor);
}
/* end service style */





/*  footer style */

footer {
  width: 100%;
  min-height: 80vh;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  margin-top: 80px;
  /* background-image: linear-gradient(
    to right top,
    #251d0a,
    #271f0b,
    #28200d,
    #2a220e,
    #2c240f
  ) !important; */
  background: #303954 !important;
}
.contact-us {
  text-align: center;
  width: 100%;
}
.contact-us h3 {
  color: white;
  font-size: var(--sectionTitleMobile);
}

.contact-us form textarea {
  width: 91%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: var(--sectionBackground) !important;
  color: var(--textColor) !important;
}

.contact-us form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: var(--sectionBackground) !important;
  color: var(--textColor) !important;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  width: 90%;
}

.form-btn {
  display: block;
  width: 25%;
  background: #dfb347;
  margin-top: 20px;
  padding: 5px 0;
  border-radius: 10px;
}
.our-company {
  width: 90%;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 20px 0;
  color: white;
}

.our-company img {
  width: 300px;
  margin-bottom: 20px;
}
.social-media {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.our-company .social-media img {
  width: 30px;
}
/*  end footer style */





/* responsive style  */
@media only screen and (min-width: 900px) {
  .aboutSec {
    width: 100%;
    min-height: 70vh;
    margin-top: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #aboutbox {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: center;
  }
  #aboutImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  #aboutbox img {
    width: 70%;
  }
  #aboutContent {
    width: 50%;
    justify-content: center;
  }

  .service-box .item {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    width: calc(80% / 2);
    min-height: 300px;
    background: #faf8f2;
    transition: all 0.5s ease;
    border: 1px solid #f6f2e4;
  }
  .service-box {
    width: 80%;
  }
  .item-name ul li {
    font-size: 18px;
  }
  .item-name h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  footer {
    width: 100%;
    min-height: 40vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: #f7e9b6;
  }
  .input {
    width: 94%;
  }
  .header-title {
    position: relative;
    width: 50%;
  }
  .header-title h1 {
    color: #ffffff !important;
    font-weight: bold;
    font-size: var(--sectionTitle);
    position: relative;
    border-bottom: 1px solid;
    padding: 5px;
    margin-bottom: 10px;
  }
  .header-title p {
    color: #ffffff !important;
    text-align: center;
    font-size: var(--);
    position: relative;
  }

  .counter-box h2 {
    font-weight: bolder;
    font-size: 2.6rem !important;
  }

  .counter-box span {
    font-weight: bolder;
    color: #816c4a9a;
    font-size: 2.6rem;
  }

  .login {
    background: #303954 !important;
    padding: 10px;
    transition: all 0.5s ease;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1000px) {
  .aboutSec {
    width: 100%;
    min-height: 70vh;
    margin-top: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-box .item {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    width: calc(80% / 2);
    min-height: 220px;
    background: #faf8f2;
    transition: all 0.5s ease;
    border: 1px solid #f6f2e4;
  }
  .contact-us form input {
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: var(--sectionBackground) !important;
    color: var(--textColor) !important;
  }
}
